#entryTable{
  margin-top: 30px;
}

#modalSaveText{
  text-align:center;
  color: #228B22;


}

#modalSaveText p {
  margin:0 auto;
  border-radius:5px;
  padding:20px;
  width:30%;
  border-color: #006400;
  border-width:2px;
  border-style:solid;
  background-color: #00640033;
}
.hidden{
  display:none;
}

.transparent{
  opacity: 0;
}

#userDropDown{
  width:33%;
}

#chart{
  margin-top: 30px;
}

.modal-lg{
  max-width:60%
}

.buttonMargin{
  margin-left:20px;
}

.jumbotron{
  padding-bottom: 15px;
}

canvas {
  padding-bottom: 20px;
}
